# Ignore vscode extension 
.vscode

# Ignore microsoft temp
[~][$]*

# Ignore macOS temp
.DS_Store

# Ignore build directory 
build/

# Ignore personal makefile 
Makefile

# Ignore Testing Directory
tests/

# Ignore Bin Directory 
bin/